html, body {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  background: linear-gradient(270deg, #242424, #5f5f5f, #242424);
  background-size: 600% 600%;
  animation: fondoDesplazado 10s ease infinite;
  height: 100vh;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes fondoDesplazado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}