html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  
  display: flex;
  justify-content: center;
  background: linear-gradient(270deg, #242424, #5f5f5f, #242424);
  background-size: 600% 600%;
  animation: fondoDesplazado 10s ease infinite;
}

@keyframes fondoDesplazado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}