# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env

# Testing
jest/
__tests__/
*.spec.js
*.test.js

# Snapshots
*.snap

# MongoDB dumps
dump/
*.bson

# Archivos de base de datos o exportaciones
*.sqlite
*.db
*.csv

# Seguridad
*.pem
*.key
*.crt
