# Entorno y configuración
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compilación y dependencias
node_modules/
build/
coverage/
tmp/
.cache/
*.tsbuildinfo

# Testing
jest/
__tests__/
*.spec.js
*.test.js

# Snapshots
*.snap

# MongoDB dumps
dump/
*.bson

# Archivos de imagen temporales
*.png
*.jpg
*.jpeg
*.gif

# Archivos de base de datos o exportaciones
*.sqlite
*.db
*.csv

# Seguridad
*.pem
*.key
*.crt