
/* .pro-dash-fondo{

} */

.pro-dash-contenedor-de-pagina-completa{
  width: 100vw;
  height: 100vh;
  max-width: 1720px;
  overflow-x: hidden;
  font-family: 'Segoe UI', sans-serif;
}

.pro-dash-contenedor-de-secciones{
  background-color: aqua;
  width: 100%;
  height: 50em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pro-dash-contenedor1{
  background-color: red;
  width: 22%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pro-dash-contenedor1-contenedor-de-foto{
  background-color: aquamarine;
  width: 10em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}

.pro-dash-contenedor1-foto{
    background-color: black;
    width: 50%;
    height: 50%;
}

.pro-dash-contenedor1-texto-informacion{
    background-color: aquamarine;
    width: 10em;
    height: 22em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.pro-dash-contenedor1-boton-de-editar{
    font-size: 1em;
    width: 50%;
}

.pro-dash-contenedor2{
  background-color: rgb(13, 0, 255);
  width: 50%;
  height: 100%;
}

.pro-dash-contenedor3{
  background-color: rgb(0, 255, 47);
  width: 28%;
  height: 100%;
}