@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Patrick+Hand&display=swap');


.source-contenedor-de-pagina-completa{ 
    height: 100vh; 
    width: 100vw; 
    overflow-x: hidden; 
    overflow-y: scroll; 
    font-family: Montserrat; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    background: linear-gradient(-45deg, #a4dbff, #ebebff, #a2d3ff, #c6caff);
    background-size: 400% 400%;
    animation: moverDegradado 8s ease infinite;
}

  @keyframes moverDegradado {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.titulo {
  font-size: 2.5em;
  text-align: center;
  margin-top: 2rem;
  color: #000000;
  font-weight: 700;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(to right, #000874, #b4ccff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descripcion {
  text-align: center;
  max-width: 600px;
  margin: 1rem auto 2rem;
  font-size: 1.1em;
  color: #000000;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.servicios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.servicio-card-doctor, .servicio-card-dentista, .servicio-card-barbero, .servicio-card-nutriologo {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

}

.servicios-grid h3{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
}

.servicios-grid p{
  font-family: "Fira Sans Condensed", sans-serif;
}

.cta {
  text-align: center;
  margin: 3rem 0;
}

.cta h2 {
  font-size: 2em;
  margin-bottom: 0.5rem;
}

.cta p {
  font-size: 1.1em;
  margin-bottom: 1rem;
  color: #444;
}

.cta-button {
  background-color: #4d4d4d;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #333;
}

.cta-cli{
  background-color: #000000;
  color: white;
  gap: 2rem;
  max-width: 80%;
  margin-left: 10%;
  border-radius: 22px;
  display: flex;
}


/*Styles para imagenes*/
.servicio-img{
  width: 100%;
  max-width: 350px;
  height: auto;
  aspect-ratio: 7 / 3.2; 
  border-radius: 12px;
  object-fit: cover;
  display: block;
  margin: 0 auto 1rem;
}
