/*Estilo base del footer*/
.footer-section{
    width: 100%;
    height: 20vh;
    background-color: var(--dark-secondary);
    display: flex;
}

.logo-contacto{
    align-items: center;
}

.logo-section img{
    padding: 0;
    gap: 1rem;
    width: 15rem;
    height: auto;
    margin: 1rem;
}

.address-text{
    text-align: center;
}

ul{
    text-align: center;
    list-style: none;
    padding: 0.5rem;
    margin:1rem;
    font-family:'Arial';
    color: black;
    font-style: italic;
}


