.dashboard-wrapper {
  min-height: 100vh;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
}

.dashboard-main {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.welcome-section {
  text-align: center;
}

.welcome-title {
  font-size: 1.6rem;
  text-shadow: 1px 1px 5px black;
  margin-bottom: 0.5rem;
}

.welcome-subtitle {
  color: #b5b5b5;
  font-size: 0.95rem;
}

/* Appointments */
.appointments-section {
  background: #bfbfbf;
  padding: 1rem;
  border-radius: 12px;
}

.appointment-card {
  background: #a5a5a5;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 0.5rem;
  transition: transform 0.2s ease;
}

.appointment-card:hover {
  transform: translateY(-3px);
}

.options-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.action-button {
  background: #e4d165;
  border: none;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  font-weight: 500;
  transition: background 0.3s ease;
  width: 25%;
  align-self: center;
}

.action-button:hover {
  cursor: pointer;
}


@media (max-width: 768px) {
  .dashboard-main {
    padding: 1rem;
  }

  .welcome-title {
    font-size: 1.4rem;
  }

  .action-button {
    font-size: 0.95rem;
  }
}

.logout-button{
  margin-top: 2em;
  background: #ff3b3b;
  border: none;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  font-weight: 500;
  transition: background 0.3s ease;
  width: 25%;
  align-self: center;
}

.logout-button{
  cursor: pointer;
}