

.dashboard-wrapper {
  height: 100vh;
  width: 100vw;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;
}

.dashboard-main {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 1200px;
}


.welcome-section {
  text-align: center;
}

.welcome-title {
  font-size: 1.6rem;
  text-shadow: 1px 1px 5px black;
  margin-bottom: 0.5rem;
}

.welcome-subtitle {
  color: #b5b5b5;
  font-size: 0.95rem;
}

.appointments-section {
  background: #bfbfbf;
  padding: 1rem;
  border-radius: 12px;
}

.appointment-card {
  background: #a5a5a5;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 0.5rem;
  transition: transform 0.2s ease;
}

.appointment-card:hover {
  transform: translateY(-3px);
}

.options-section {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 0.25rem;
  width: 100%;     
  margin: 0 auto;         
  box-sizing: border-box;
}

.action-button{
  background: var(--secondary-color);
  border: none;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  font-weight: 500;
  transition: background 0.3s ease;
  align-self: center;
  width: 100%;
}

.logout-button{
  margin-top: 2em;
  background: #ff3b3b;
  border: none;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  font-weight: 500;
  transition: background 0.3s ease;
  align-self: center;
  box-sizing: border-box;
  width: 100%;
}

.action-button:hover {
  cursor: pointer;
}

.logout-button{
  cursor: pointer;
}


@media (max-width: 768px) {
  .dashboard-main {
    width: 90vw;
    padding: 1rem;
  }

  .welcome-title {
    font-size: 1.4rem;
  }

  .action-button {
    font-size: 0.95rem;
  }
}
