.header-contenedor {
  height: 4rem;
  width: 100vw;
}

.header-nav-links {
  background-color: var(--primary-color);
  font-family: Montserrat;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  gap: 1em;
}

.header-texto {
  font-family: Montserrat;
  text-decoration: none;
  color: black;
}

.header-menu {
  background-color: none;
  width: 2.5rem;
  height: 2.5rem;
  display: none; /* solo se activa en móvil */
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  border-radius: 0.3rem;
}

.menu-desplegable {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  height: 100vh;
  background-color: #5e5e5e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  gap: 1.5rem;
  transition: right 0.3s ease-in-out;
  z-index: 999;
  border: 1px solid black;
  box-shadow: 3px 3px black;
}

.menu-desplegable a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-desplegable a:hover {
  color: #c4c4c4;
}

.menu-abierto {
  right: 0;
}

.boton-cerrar-menu {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-logo {
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: black;
  text-align: center;
}


@media (max-width: 450px) {
  .header-contenedor {
    width: 100%;
  }

  .header-texto {
    display: none;
  }

  .header-menu {
    display: flex; /* mostrar el botón solo en móvil */
  }



}