.header-contenedor{
    height: 4rem;
    width: 100vw;
}

.header-nav-links{
    background-color: bisque;
    font-family: Montserrat;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}

.header-texto{
    font-family: Montserrat;
    text-decoration: none;
    color: black;
}

.header-menu{
    background-color: rgb(243, 90, 90);
    width: 2em;
    height: 2em;
    display: none;
}

.menu-desplegable{
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  height: 100vh;
  background-color: #5e5e5e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  gap: 1.5rem;
  transition: right 0.3s ease-in-out;
  z-index: 999;
  border: 1px solid black;
  box-shadow: 3px 3px black;
}

.menu-desplegable a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-desplegable a:hover{
    color: #b5b66d;
}

.menu-abierto {
  right: 0;
}

.boton-cerrar-menu{
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-logo{
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: black;
    text-align: center;
}



@media (max-width: 400px) {
    .header-nav-links a{
        display: none;
    }
    .header-menu{
        display: inline-block;
    }
}