.source-fondo{
    background-color: white;
    min-height: 100vh;
}

.contenedor-pagina-completa{
  font-family: Montserrat;
  overflow-x: hidden;
  align-items: center;
}

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 75%;
  margin: 0 auto;
  background-color: rgb(0,0,0,0.5);
  margin-top: 8px;
  border-radius: 32px;
}

.hero-text {
    font-size: 20px;
    color: white;
}

.hero-text h2{
    color: var(--secondary-color);
}

.hero-img {
  width: 50%;
  max-width: 180px;
  height: auto;
}

.hero-img img {
  width: 100%;
  max-width: 180px;
  height: auto;
  object-fit: contain;
  background-color: transparent;
}

.contact-section {
  background-color: rgb(0,0,0,0.5);
  padding: 2rem;
  margin: 2rem auto;
  max-width: 75%;
  border-radius: 24px;
  text-align: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: white;
}

.contact-section h3 {
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
}

.contact-section a {
  color: var(--light-primary-color);
  text-decoration: none;
  font-weight: bold;
}

.whatsapp-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #25D366;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  transition: transform 0.2s ease;
}

.whatsapp-button:hover {
  transform: scale(1.05);
  background-color: #1ebe5d;
}




@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-img {
    width: 60%;
    margin-top: 1rem;
  }
}

